html {
  background-color: #fefefe;
  min-height: 100%;
  min-width: 100%;
}

.container-fluid {
  color: #1a1c22;
  font-family: sans-serif;
  text-align: center;
}


/* Navigation */

.navbar {
  font-size: 2em;
  margin-top: 2.5%;
  width: 95vw;
}

.navbar-brand {
  height: 10%;
  width: 15%;
}

#brandImg {
  height: 10vh;
  width: 5vw;
}

.nav-link {
  color: #1a1c22;
  text-decoration: none;
}

#navBtn {
  border-color: #26D0CE;
}

#navBtnA {
  color: #26D0CE;
  font-size: 25px;
}

#navBtnA:hover {
  background-color: #26D0CE;
  border-color: #fff;
  color: #fefefe;
}

#navBtn:hover {
  background-color: #26D0CE;
  border-color: #26D0CE; 
}


/* Introduction */
.intro {
  color: black;
  height: 40vh;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 15%;
  text-align: center;
}

.introDiv{
  margin-top: 2%;
}

#logoPerson {
  border-radius: 40px;
  height: 25vh;
  margin: 2.5%;  
  width: 15vw;
}

.introBtns {
  display: flex;
  justify-content: center;
  margin: 2.5%;
}

.introBtns button {
  
  margin-right: 1.5%;
  margin-left: 1.5%;
}

#solidBtn {
  background-color: #26D0CE;
  border-color: #26D0CE;
  font-size: 25px;
}

#solidBtn > a {
  color: #fefefe;
  font-size: 25px;
  text-decoration: none;
}

#solidBtn:hover {
  background-color: #fefefe;
  border-color: #26D0CE;
}

#solidBtn > a:hover {
  color: #26D0CE;
  font-size: 25px;
  text-decoration: none;
}

#outlineBtn {
  border-color: #26D0CE;
  font-size: 25px;
}

#outlineBtn > a {
  color: #26D0CE;
}

#outlineBtn:hover {
  background-color: #26D0CE;
  border-color: #26D0CE;
}

#outlineBtn > a:hover {
  color: #fefefe;
  text-decoration: none;
}

.introContent {
  background: linear-gradient(90deg, rgba(26,41,128,1) 0%, rgba(38,208,206,1) 35%);
  background-color: #26D0CE;
  color: #fefefe;
  font-size: 25px;
  height: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding: 5%;
  text-align: center;
  width: 100vw;
}

#introContentP {
  margin-top: 2%;
  text-align: justify;
}

/* Projects */
.projects {
  height: auto;
  margin-top: 20%;
  width: 100%;
}

.projectsTitle {
  margin: 5%;
  margin-top: 2.5%;
}

.projectsTitle > h1 {
  margin: 2%;
}

#titleA {
  text-decoration: none;
}

.projectBtns {
  align-items: center;
  display: inline-block;
}

.projectOdd {
  
  margin: 3%;
  
}

.oddContent {

}

.projectEven {
  
  
  
  
}

.evenContent {
  
}

#projectImg {
  height: 50vh;
  margin-right: 0px;
  width: 45vw;
}

.projectP {
  text-align: justify;
}

.technologies {
  
  
}

#techTitle {
  color: #1a1c22;
  font-size: 60px;
  margin: 10%;
  text-align: center;
}

.techDiv {
  margin-bottom: 8%;
}

.techItem {
  box-shadow:  5px 5px 5px 5px #1a2980;
  padding: 20px;
}

.techItem:hover {
  box-shadow:  5px 5px 5px 5px #26D0CE; 
}

.techImg {
  height: 175px;
  width: 175px;
}

